h2{
	color:black;
}
h1{
	font: sans-serif;
}
	ul li
	{
		list-style: none;
		text-align: center;
	}


style{
	 text-align: center;
}
ul{
	display: flex;
}
 ul li{
			position: relative;
			display: block;
			color: black;
			font-size: 25px;
			height: 60px;
			width: 60px;
			line-height: 60px;
			border-radius: 50%;
			margin: 0 15px;
			cursor: pointer;
			transition: .5s;
		}
		.container{
			width: 30%;
			margin: auto;
			margin-top: 100px;
		}
		
		.nav{
			background:#0052A7;
			margin-left:- 38px;
			overflow: hidden;
			opacity: 0.7;
		}
		.nav a{
			padding: 20px 13px;
			text-decoration: none;
			text-align: center;
			color: white;
			font-size: 1.5em;
			display: block;
			float: right;
		}
		
		.nav a:hover{
			background: white;
			color: blue;
		}