*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 80%;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icons{
    width: 300px;
    float: left;
    height: 70px;
    margin-left:82px;
}

.logo{
    color:#ff7200 ;
    font-size: 45px;
    font-family: Arial;
  
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: red;
}




.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    font-family: Arial;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 80px;
}

.content h1{
    font-family: Arial;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: blue;
    border: none;
    margin-bottom: 10px;
    margin-left: 97px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    font-family: Arial;
    font-weight: bold;
    
}

.content .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.cn:hover{
    background-color: red;
}

.content span{
    color: #ff7200;
    font-size: 45px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 100px;
}
.icons a{
    text-decoration: none;
    color: black;
  
}
.icons ion-icon{
   color: black;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: darkorange;
}
.select{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
select{
    border: none;
}
option{
    background: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
}

h2:hover{
    color: #fff;
    text-shadow: 0 0 10px #00f1ff ,
    0 0 20px #00f1ff,
    0 0 40px #00f1ff;
    

}

select:hover{
    color: #fff;
    text-shadow: 0 0 20px #03F324  ,
    0 0 40px #03F324  ,
    0 0 60px #03F324 ,
    0 0 80px #03F324 ,
    0 0 100px #03F324  ,
     0 0 120px #03F324 ,
      0 0 140px #03F324  ;
}
mark{
    background: transparent;
    opacity: 0.8;
}
